body {
    display: block;
}

main {
    grid-template-columns: repeat(4, 2fr);
    margin-top: 3rem;
    row-gap: 1rem;
}

h2 {
    font-weight: 400;

}

strong {
    letter-spacing: 0.1rem;
    font-style: oblique;
}

strong:hover {
    color: red;
}

ul {
    cursor: pointer;
}

li {
    line-height: 1.2rem;
}

.lang {
    grid-row: span 1;
}

#woaini {
    grid-row: 1 / span2;
    grid-column: 2;
}

@media only screen and (max-width:800px){
    main {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }

    h2 {
        font-size: 14px;
    }
    ul {
        font-size: 12px;
    }
}